.mat-toolbar {
    background-color: chocolate;
    color: indigo;
}

.home-button {
    height: 35px;
    width: 110px;
    background-color: rgb(64, 146, 105);
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font: bolder;
    cursor: pointer;
   
    }
    .space {
        margin-left: 10px;
    }