<mat-toolbar color="primary">
    <span>ToDoList section</span>
    <span class="spacer"></span>
    <mat-toolbar color="primary">
              <span class="spacer"></span>  
              <button mat-raised-button class="create-list-btn" (click)="openDialog(dialogTemplate)">
                <span class="icon">➕</span>
                Create new List
              </button>
              
    </mat-toolbar>

    <div class="dialog">
    <ng-template #dialogTemplate>
      <mat-dialog-content>
        <div class="container">
            <input class="input-field" matInput placeholder="Enter list name" />        
          <div class="button-container">
            <button mat-raised-button color="green" class="btn">Create</button>
            <button mat-raised-button color="accent" class="btn">Cancel</button>
          </div>
        </div>
        
      </mat-dialog-content>
    </ng-template>
  </div>
