    <div class="container">
      <mat-toolbar color="primary">
        <span>ToDoList section</span>
        <span class="spacer"></span>
        <button mat-raised-button class="create-list-btn" (click)="openDialog(dialogTemplate)">
          <span class="icon">➕</span>
          Create new List
        </button>
      </mat-toolbar>
    
      <div class="content">
        <mat-list>
          <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
        </mat-list>
      </div>
    </div>
    
  


  <div class="dialog">
    <ng-template #dialogTemplate>
      <h2 mat-dialog-title>Create List</h2>
      <mat-dialog-content class="container">
          <input class="input-field" matInput [(ngModel)]="taskTitleInput" (input)="createTaskTittle(taskTitleInput,taskDescriptionInput)" />
          <input class="input-field" matInput [(ngModel)]="taskDescriptionInput" (input)="createTaskDescription(taskDescriptionInput,taskTitleInput)" />
          <button mat-raised-button class="btn"
          color="primary"
          [disabled]="isDisabled" 
          (click)="onCreateList()" [ngClass]="{ 'active-button': isActive}">
          Create 
        </button>
          <!-- <button mat-button class="btn" (click)="onCreateTaskDescription()">Create</button> -->
        
         

  </mat-dialog-content>
  </ng-template>
</div>
