<mat-toolbar color="primary">
    <span>ToDoList section</span>
    <span class="spacer"></span>
    <mat-toolbar color="primary">
              <span class="spacer"></span>  
              <button mat-raised-button class="create-list-btn" (click)="openDialog(dialogTemplate)">
                <span class="icon">➕</span>
                Create new List
              </button>
              
    </mat-toolbar>
<div class="dialog">
    <ng-template #dialogTemplate let-dialogRef="dialogRef">
      <mat-dialog-content>
        <div class="container">
          <h2 mat-dialog-title>Create List</h2>
          <input class="input-field" matInput [(ngModel)]="dialogInput" (input)="getInput(dialogInput)" />
       <div class="button-container">
          <button mat-button class="btn" mat-dialog-close>Cancel</button>
        <button
          mat-raised-button class="btn"
          color="primary"
          [disabled]="isDisabled" 
          (click)="onCreateList()" [ngClass]="{ 'active-button': isActive}">
          Create
        </button>
      </div>
      </div>
    </mat-dialog-content>
    </ng-template>
  </div>
    <!-- <div class="dialog">
    <ng-template #dialogTemplate>
      <mat-dialog-content>
        <div class="container">
            <input class="input-field" matInput placeholder="Enter list name" [(ngModel)]="input" />        
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="createList()" [disabled]="isDisabled"   [ngClass]="{ 'active-button': isActive, 'inactive-button': isDeactive}" class="btn">Create</button>
            <button mat-raised-button color="accent" class="btn">Cancel</button>
          </div>
        </div>
        
      </mat-dialog-content>
    </ng-template>
  </div> -->
