/* dashboard.component.css */
.spacer {
    flex: 1 1 auto;
  }
/* dashboard.component.css */
// .mat-toolbar button {
//     color: white; /* Change text color */
//     font-weight: bold;
//   }
  
//   .mat-toolbar button:hover {
//     background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
//   }
// /* dashboard.component.css */
// .mat-toolbar {
//     background-color: #4CAF50; /* Replace with any custom color */
//     color: white; /* Optional: set text color */
//   }

  .profile-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green; /* Background color */
    color: #fff; /* Text color (Material primary color) */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Center the initial text in the button */
  .profile-initial {
    font-size: 16px;
    color: inherit;
  }
  .mat-toolbar {
    background-color: blueviolet;
    color: white;
  }

  
  .welcome-banner {
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  

  
  
  

  




  
  