/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-dialog-container {
    background-color: #0c8d4d; /* Change the dialog background */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add padding */
  }

