/* user-profile.component.css */
.profile-container {
    display: flex;
    background-color: rgb(108, 104, 104);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    height: 400px;
    color: whitesmoke;
    border-radius: 8px;
    margin: auto;
  }
  
  // .profile-photo img {
  //   width: 80px;
  //   height: 80px;
  //   border-radius: 50%;
  //   object-fit: cover;
  //   margin-right: 20px;
  // }
  
  // .profile-details {
  //   display: flex;
  //   flex-direction: column;
  // }
  
  .profile-details h2 {
    margin: 0;
  }
  
  .profile-details p {
    margin: 4px 0;
  }
 
  h2 {
    font-size: 16px;
  }
  .mat-mdc-raised-button { 
  
    background-color: #2196f3; /* Change background color */
    cursor: pointer;
    color: white; /* Change text color */
  }
  
  .mat-mdc-raised-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add custom shadow */
  }
  
  