/* user-profile.component.css */
.profile-container {
    display: flex;
    background-color: rgb(108, 104, 104);
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 220px;
    height: 300px;
    color: whitesmoke;
    border-radius: 0px;
  }
  
  // .profile-photo img {
  //   width: 80px;
  //   height: 80px;
  //   border-radius: 50%;
  //   object-fit: cover;
  //   margin-right: 20px;
  // }
  
  // .profile-details {
  //   display: flex;
  //   flex-direction: column;
  // }
  
  .profile-details  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
   p {
    color: rgb(175, 171, 163);
    
  }
 
  h2 {
    font-size: 16px;
  }
  .hover-transform-button {
    /* Initial state: plain text */
    background-color: transparent;
    color: #6200ea; /* Button text color */
    border: none;
    color: white;
    font-size: 20px;
    padding: 0; /* Remove padding for text-like appearance */
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: none;
  }
  
  .hover-transform-button:hover {
    /* Hover state: transforms into a button */
    font-size: 20px;
    background-color: #6200ea; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Add padding to give it button dimensions */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  